/* 全体のスタイル */
body {
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    color: #222;
    margin: 0;
    padding: 0;
}

/* メインのコンテナのスタイル */
.container {
    width: 90%;
    max-width: 1028px;
    margin: 0 auto;
    padding: 24px 10px;
    background-color: #fff;
    min-height: 100vh;
    border-radius: 1px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

/* 戻るボタンのスタイル */
.back-link {
    align-items: center;
    gap: 4px;
    color: #222;
    background: none;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: none;
    padding: 12px;
    transition: color 0.2s;
    z-index: 10;
}
.back-link svg path {
    stroke: #222;
    transition: stroke 0.2s;
}
.back-link:hover {
    color: #666;
}
.back-link:hover svg path {
    stroke: #666;
} 

/* タイトル、ページ名のスタイル */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* フォームのスタイル */
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    height: 150px;
}
input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}

/* リストテーブルのスタイル */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th, td {
    margin: 0 auto;
    vertical-align: middle;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-size: 1.2rem;
    color: #555;
}

tr:hover {
    background-color: #f1f1f1;
}