/* 全体のスタイル */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0066ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #ff8800a8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(255, 0, 98);
}
.container2 {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #e5ff00;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(0, 187, 255);
}

h1 {
    text-align: center;
    color: #e600ff;
    margin-bottom: 20px;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ad5a1f;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #28365f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b0b300;
}

/* リストテーブルのスタイル */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #bd762b;
    font-size: 1.2rem;
    color: #b9621b;
}

tr:hover {
    background-color: #b06824;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.btn-add, .btn-back {
    display: block;
    text-align: center;
    background-color: #6549d5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
}

.btn-add:hover, .btn-back:hover {
    background-color: #ff6600;
}
