<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サーバーエラー</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>500 - サーバーエラー</h1>
        <p>サーバーエラーが起きました。</p>
        <div class="links">
            <a href="/" class="btn-add">メニューに戻る</a>
        </div>
    </div>
</body>