<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メモの追加
    </title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="container">
        <a href="/" class="back-link">
            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;"><path d="M10.5 3l-5 5 5 5" stroke="#222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <span style="margin-left: 4px; vertical-align: middle;">メニューに戻る</span>
        </a>
        <h1>新しいメモの追加</h1>
        <form action="/add-note" method="POST" enctype="multipart/form-data">
            <label for="title">料理名:</label>
            <input type="text" id="title" name="title" placeholder="料理名を入れてください" required>

            <label for="ingredients">材料:</label>
            <table id="ingredients-table">
                <thead>
                    <tr name="header">
                        <th>番号</th>
                        <th>材料名</th>
                        <th>分量</th>
                        <th>削除</th>
                    </tr>
                </thead>
                <tbody id="ingredients-body">
                    <tr name="ingredient-row">
                        <td name="row-number">1</td>
                        <td><input type="text" name="ingredient" placeholder="例: じゃがいも" required></td>
                        <td><input type="text" name="amount" placeholder="例: 2個" required></td>
                        <td><button type="button" onclick="this.parentElement.parentElement.remove()">削除</button></td>
                    </tr>
                    <button type="button" onclick="addRow()">行を追加</button>
                </tbody>
            </table>

            <label for="contents">作り方:</label>
            <textarea id="contents" name="contents" placeholder="その料理の作り方を入れてください" required></textarea>

            <label for="images">画像:</label>
            <input type="file" id="images" name="images">

            <button type="submit">メモを追加</button>
        </form>
        <a href="/notes" class="btn-back">リスト</a>
    </div>
</body>
</html>
