<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>メニュー</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div class="container">
            <h1>マイクラ図鑑</h1>
            <a href="/add-note" class="btn-add">MOBの追加</a>
            <a href="/notes" class="btn-add">リスト</a>


        </form>
        <img src="/static/images/ender dragn.png" width="510" height="520">
        <img src="/static/images/ender dragn.png" width="510" height="520">
    </body>
</html>
