<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メニュー</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container2">
        <h1>MONSUTER HUNTERモンスター図鑑</h1>
        <a href="/add-note" class="btn-add">モンスターの追加</a>
        <a href="/notes" class="btn-add">リスト</a>
   </div> <img src="{{ url_for('static',filename='images/image.png') }}" alt="Image" class="shift-left">
    </div>
</body>
</html>
