<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リスト</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="back-link-wrapper">
        <a href="/" class="back-link">
            <svg width="1em" height="1em" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 3l-5 5 5 5" stroke="#222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <span>メニューに戻る</span>
        </a>
    </div>
        <h1>リスト</h1>
        <div class="card-container">
            {% for note in notes %}
            <div>
                <a href="/update-note/{{ note.id }}" style="text-decoration: none; color: inherit;">
                    <div class="card">
                        <h3>{{ note.title }}</h3>
                        <p>{{ note.contents }}</p>
                    </div>
                </a>
                <form action="/delete-note/{{ note.id }}" method="POST" style="margin-top: 12px;">
                    <button type="submit" class="delete-button">削除</button>
                </form>
            </div>
            {% endfor %}
            <a href="/add-note" class="card add-card">
                <span>＋</span>
            </a>
        </div>
        <form action="/notes/search" method="post">
            <div class="form-group">
                <input type="text" id="search_title" name="title"placeholder="タイトル">
            </div>
            <div class="form-group">
                <input type="text" id="search_contents" name="contents" placeholder="内容">
            </div>
            <input type="submit" id="search_button" value="検索">
        </form>
    </div>
</body>
</html>
